{
    "gui": {
        "background": {
            "zlevel" : 0,
            "type" : "background",
            "fileHeader" : "/interface/scripted/acwupgradetable/header.png",
            "fileBody" : "/interface/scripted/acwupgradetable/body.png",
            "fileFooter" : "/interface/scripted/acwupgradetable/footer.png"
        },

        "labelMaterialsCost" : {
            "type" : "label",
            "position" : [93, 67],
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "color" : "white",
            "value" : "Required Materials"
        },

        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [170, 126]
        },

        // *** Upgrade Slot ***

        "upgradeArrow" : {
            "type" : "image",
            "position" : [63,88],
            "file" : "/interface/scripted/acwupgradetable/upgradeslotarrow.png"
        },

        "itemGrid" : {
            "type" : "itemgrid",
            "position" : [83, 90],
            "dimensions" : [1, 1],
            "spacing" : [19, 19],
            "backingImage" : "/interface/inventory/empty.png"
        },

        "upgradeSlotBorder" : {
            "zlevel" : 1,
            "type" : "image",
            "position" : [83,90],
            "file" : "/interface/inventory/redborder.png"
        },

        // *** Interface Buttons ***

        "upgradeBtn" : {
            "type" : "button",
            "base" : "/interface/buttonactive.png",
            "hover" : "/interface/buttonactivehover.png",
            "disabledImage" : "/interface/buttongrayed.png",
            "caption" : "Upgrade",
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "position" : [35, 30]
        },

        "cancel" : {
            "type" : "button",
            "base" : "/interface/button.png",
            "hover" : "/interface/buttonhover.png",
            "disabledImage" : "/interface/buttongrayed.png",
            "caption" : "Cancel",
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "position" : [95, 30],
            "callback" : "close"
        }
    },

    "scriptWidgetCallbacks": [
        "upgradeBtn"
    ],

    "scripts": ["/interface/scripted/acwupgradetable/acwupgradetable.lua"],
    "scriptDelta": 30
}
