{
    "gui": {
        "background": {
            "zlevel" : 0,
            "type" : "background",
            "fileHeader" : "/interface/scripted/acwupgradetable/header.png",
            "fileBody" : "/interface/scripted/acwupgradetable/body.png",
            "fileFooter" : "/interface/scripted/acwupgradetable/footer.png"
        },

        "baseStatsBg" : {
            "zlevel" : 10,
            "type": "image",
            "position" : [6, 65],
            "file" : "/interface/scripted/acwupgradetable/statbox.png"
        },
        "upgradeStatsBg" : {
            "zlevel" : 10,
            "type": "image",
            "position" : [136, 65],
            "file" : "/interface/scripted/acwupgradetable/statbox.png"
        },

        "shine" : {
            "zlevel" : 1,
            "type" : "image",
            "file" : "/interface/scripted/acwupgradetable/shine.png",
            "offset" : [0, 0]
        },

        "close" : {
            "zlevel" : 100,
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [167, 120]
        },

        "upgradeArrow" : {
            "zlevel" : 0,
            "type" : "image",
            "position" : [63,80],
            "file" : "/interface/scripted/acwupgradetable/upgradeslotarrow.png"
        },
        "upgradeSlotbg" : {
            "zlevel" : 10,
            "type" : "image",
            "position" : [83,82],
            "file" : "/interface/inventory/empty.png"
        },
        "itemGrid" : {
            "zlevel" : 11,
            "type" : "itemgrid",
            "position" : [83, 82],
            "dimensions" : [1, 1],
            "spacing" : [19, 19],
            "backingImage" : "/interface/inventory/emptier.png"
        },
        "upgradeSlotBorder" : {
            "zlevel" : 11,
            "type" : "image",
            "position" : [83,82],
            "file" : "/interface/inventory/redborder.png"
        },


        "labelMaterialsCost" : {
            "zlevel" : 15,
            "type" : "label",
            "position" : [93, 60],
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "color" : "white",
            "value" : "Upgrade Cost"
        },
        "outputItemGrid" : {
            "zlevel" : 15,
            "type" : "itemgrid",
            "position": [83, 40],
            "dimensions": [1, 1],
            "spacing": [19, 19],
            "slotOffset": 1,
            "backingImage": "/interface/inventory/empty.png",
            "callback" : "nop",
            "rightClickCallback" : "nop"
        },

        "essenceBg" : {
            "zlevel" : 15,
            "type" : "image",
            "position" : [103, 43],
            "file" : "/interface/scripted/acwupgradetable/essencebox.png"
        },

        "upgradeBtn" : {
            "zlevel" : 15,
            "type" : "button",
            "base" : "/interface/buttonactive.png",
            "hover" : "/interface/buttonactivehover.png",
            "disabledImage" : "/interface/buttongrayed.png",
            "caption" : "Upgrade",
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "position" : [35, 24]
        },

        "cancel" : {
            "zlevel" : 15,
            "type" : "button",
            "base" : "/interface/button.png",
            "hover" : "/interface/buttonhover.png",
            "disabledImage" : "/interface/buttongrayed.png",
            "caption" : "Cancel",
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "position" : [95, 24],
            "callback" : "close"
        }
    },

    "scriptWidgetCallbacks": [
        "upgradeBtn",
        "nop"
    ],

    "scripts": ["/interface/scripted/acwupgradetable/acwupgradetable.lua"],
    "scriptDelta": 30
}
