{
    "gui": {
        "background": {
            "zlevel" : 0,
            "type" : "background",
            "fileHeader" : "/interface/scripted/acwupgradetable/header.png",
            "fileBody" : "/interface/scripted/acwupgradetable/body.png",
            "fileFooter" : "/interface/scripted/acwupgradetable/footer.png"
        },

        "shine" : {
            "zlevel" : 0,
            "type" : "image",
            "file" : "/interface/scripted/acwupgradetable/shine.png",
            "offset" : [0, 0]
        },

        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [167, 120]
        },

        // *** Upgrade Slot ***
        "upgradeArrow" : {
            "zlevel" : 1,
            "type" : "image",
            "position" : [63,80],
            "file" : "/interface/scripted/acwupgradetable/upgradeslotarrow.png"
        },
        "upgradeSlotbg" : {
            "zlevel" : 1,
            "type" : "image",
            "position" : [83,82],
            "file" : "/interface/inventory/empty.png"
        },
        "itemGrid" : {
            "zlevel" : 2,
            "type" : "itemgrid",
            "position" : [83, 82],
            "dimensions" : [1, 1],
            "spacing" : [19, 19],
            "backingImage" : "/interface/inventory/emptier.png"
        },
        "upgradeSlotBorder" : {
            "zlevel" : 2,
            "type" : "image",
            "position" : [83,82],
            "file" : "/interface/inventory/redborder.png"
        },

        // *** Stats Box 1 ***
        "statsBoxBg" : {
            "zlevel" : 0,
            "type": "image",
            "position" : [7, 65],
            "file" : "/interface/scripted/acwupgradetable/statcontainer.png"
        },

        // *** Required Materials box
        "labelMaterialsCost" : {
            "type" : "label",
            "position" : [93, 64],
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "color" : "white",
            "value" : "Upgrade Cost"
        },
        "outputItemGrid" : {
            "type" : "itemgrid",
            "position": [83, 46],
            "dimensions": [1, 1],
            "spacing": [19, 19],
            "slotOffset": 1,
            "backingImage": "/interface/inventory/empty.png",
            "callback" : "nop",
            "rightClickCallback" : "nop"
        },

        // *** Interface Buttons ***
        "upgradeBtn" : {
            "type" : "button",
            "base" : "/interface/buttonactive.png",
            "hover" : "/interface/buttonactivehover.png",
            "disabledImage" : "/interface/buttongrayed.png",
            "caption" : "Upgrade",
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "position" : [35, 30]
        },

        "cancel" : {
            "type" : "button",
            "base" : "/interface/button.png",
            "hover" : "/interface/buttonhover.png",
            "disabledImage" : "/interface/buttongrayed.png",
            "caption" : "Cancel",
            "hAnchor" : "mid",
            "vAnchor" : "bottom",
            "position" : [95, 30],
            "callback" : "close"
        }
    },

    "scriptWidgetCallbacks": [
        "upgradeBtn",
        "nop"
    ],

    "scripts": ["/interface/scripted/acwupgradetable/acwupgradetable.lua"],
    "scriptDelta": 30
}
