{
    "upgradeCosts" : [
        {
            "level" : 1.0,
            "newLevel" : 1.3,
            "weaponType" : "any",
            "material" : "tungstenbar",
            "materialAmount" : 4,
            "timeNeeded" : 3,
            "currencyNeeded" : 0
        },
        {
            "level" : 1.3,
            "newLevel" : 1.6,
            "weaponType" : "any",
            "material" : "tungstenbar",
            "materialAmount" : 6,
            "timeNeeded" : 4,
            "currencyNeeded" : 0
        },
        {
            "level" : 1.6,
            "newLevel" : 2.0,
            "weaponType" : "any",
            "material" : "tungstenbar",
            "materialAmount" : 8,
            "timeNeeded" : 5,
            "currencyNeeded" : 0
        },
        {
            "level" : 2.0,
            "newLevel" : 2.3,
            "weaponType" : "any",
            "material" : "titaniumbar",
            "materialAmount" : 6,
            "timeNeeded" : 8,
            "currencyNeeded" : 0
        },
        {
            "level" : 2.3,
            "newLevel" : 2.6,
            "weaponType" : "any",
            "material" : "titaniumbar",
            "materialAmount" : 8,
            "timeNeeded" : 9,
            "currencyNeeded" : 0
        },
        {
            "level" : 2.6,
            "newLevel" : 3.0,
            "weaponType" : "any",
            "material" : "titaniumbar",
            "materialAmount" : 10,
            "timeNeeded" : 10,
            "currencyNeeded" : 0
        },
        {
            "level" : 3.0,
            "newLevel" : 3.3,
            "weaponType" : "any",
            "material" : "durasteelbar",
            "materialAmount" : 8,
            "timeNeeded" : 13,
            "currencyNeeded" : 0
        },
        {
            "level" : 3.3,
            "newLevel" : 3.6,
            "weaponType" : "any",
            "material" : "durasteelbar",
            "materialAmount" : 10,
            "timeNeeded" : 14,
            "currencyNeeded" : 0
        },
        {
            "level" : 3.6,
            "newLevel" : 4.0,
            "weaponType" : "any",
            "material" : "durasteelbar",
            "materialAmount" : 12,
            "timeNeeded" : 15,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.0,
            "newLevel" : 4.3,
            "weaponType" : "ranged",
            "material" : "refinedaegisalt",
            "materialAmount" : 10,
            "timeNeeded" : 18,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.3,
            "newLevel" : 4.6,
            "weaponType" : "ranged",
            "material" : "refinedaegisalt",
            "materialAmount" : 12,
            "timeNeeded" : 19,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.6,
            "newLevel" : 5.0,
            "weaponType" : "ranged",
            "material" : "refinedaegisalt",
            "materialAmount" : 14,
            "timeNeeded" : 20,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.0,
            "newLevel" : 4.3,
            "weaponType" : "melee",
            "material" : "refinedferozium",
            "materialAmount" : 10,
            "timeNeeded" : 18,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.3,
            "newLevel" : 4.6,
            "weaponType" : "melee",
            "material" : "refinedferozium",
            "materialAmount" : 12,
            "timeNeeded" : 19,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.6,
            "newLevel" : 5.0,
            "weaponType" : "melee",
            "material" : "refinedferozium",
            "materialAmount" : 14,
            "timeNeeded" : 20,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.0,
            "newLevel" : 4.3,
            "weaponType" : "magic",
            "material" : "refinedaegisalt",
            "materialAmount" : 10,
            "timeNeeded" : 18,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.3,
            "newLevel" : 4.6,
            "weaponType" : "magic",
            "material" : "refinedviolium",
            "materialAmount" : 12,
            "timeNeeded" : 19,
            "currencyNeeded" : 0
        },
        {
            "level" : 4.6,
            "newLevel" : 5.0,
            "weaponType" : "magic",
            "material" : "refinedviolium",
            "materialAmount" : 14,
            "timeNeeded" : 20,
            "currencyNeeded" : 0
        },
        {
            "level" : 5.0,
            "newLevel" : 5.3,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 12,
            "timeNeeded" : 23,
            "currencyNeeded" : 200
        },
        {
            "level" : 5.3,
            "newLevel" : 5.6,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 14,
            "timeNeeded" : 24,
            "currencyNeeded" : 300
        },
        {
            "level" : 5.6,
            "newLevel" : 6.0,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 16,
            "timeNeeded" : 25,
            "currencyNeeded" : 500
        },
        {
            "level" : 6.0,
            "newLevel" : 6.3,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 20,
            "timeNeeded" : 36,
            "currencyNeeded" : 750
        },
        {
            "level" : 6.3,
            "newLevel" : 6.6,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 22,
            "timeNeeded" : 52,
            "currencyNeeded" : 1000
        },
        {
            "level" : 6.6,
            "newLevel" : 7.0,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 24,
            "timeNeeded" : 75,
            "currencyNeeded" : 1500
        },
        {
            "level" : 7.0,
            "newLevel" : 7.3,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 26,
            "timeNeeded" : 107,
            "currencyNeeded" : 2000
        },
        {
            "level" : 7.3,
            "newLevel" : 7.6,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 28,
            "timeNeeded" : 155,
            "currencyNeeded" : 3000
        },
        {
            "level" : 7.6,
            "newLevel" : 8.0,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 30,
            "timeNeeded" : 223,
            "currencyNeeded" : 4500
        },
        {
            "level" : 8.0,
            "newLevel" : 8.3,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 32,
            "timeNeeded" : 321,
            "currencyNeeded" : 6500
        },
        {
            "level" : 8.3,
            "newLevel" : 8.6,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 34,
            "timeNeeded" : 462,
            "currencyNeeded" : 10000
        },
        {
            "level" : 8.6,
            "newLevel" : 9.0,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 36,
            "timeNeeded" : 666,
            "currencyNeeded" : 14000
        },
        {
            "level" : 9.0,
            "newLevel" : 9.3,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 38,
            "timeNeeded" : 958,
            "currencyNeeded" : 20000
        },
        {
            "level" : 9.3,
            "newLevel" : 9.6,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 40,
            "timeNeeded" : 1380,
            "currencyNeeded" : 28000
        },
        {
            "level" : 9.6,
            "newLevel" : 10.0,
            "weaponType" : "any",
            "material" : "solariumstar",
            "materialAmount" : 42,
            "timeNeeded" : 1987,
            "currencyNeeded" : 40000
        }
    ],
    "validItems" : {
        "base" : [
            "common",
            "uncommon",
            "rare"
        ],

        "melee" : [
            "axe",
            "broadsword",
            "dagger",
            "hammer",
            "shortsword",
            "spear"
        ],

        "ranged" : [
            "assultrifle",
            "grenadelauncher",
            "machinepistol",
            "pistol",
            "rocketlauncher",
            "shotgun",
            "sniperrifle"
        ],

        "magic" : [
            "staff",
            "wand"
        ]
    }
}
