{
	"base" : [
		"common",
		"uncommon",
		"rare"
	],

	"melee" : [
		"axe",
		"broadsword",
		"dagger",
		"hammer",
		"shortsword",
		"spear"
	],

	"ranged" : [
		"assultrifle",
		"grenadelauncher",
		"machinepistol",
		"pistol",
		"rocketlauncher",
		"shotgun",
		"sniperrifle"
	],

	"magic" : [
		"staff",
		"wand"
	]
}
